{% extends "homepage/base.html" %}
{% load thumbnail %}
{% block main %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Меню <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Jerarro Rshtunni</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Пошив на заказ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#service">Сервис</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Контакты</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading" style="color:#fed136">Пошив мужской обуви ручной работы на заказ</div>
                <a href="#services" class="page-scroll btn btn-xl">Пошив на заказ</a>
            </div>
        </div>
    </header>
    <!-- xxx Grid Section -->
    <section id="xxx"  style="padding-top:20px">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

      <h2>3 главных проблемы мужчин при выборе готовой обуви</h2>
      <span class="line"></span>

      <p><span class="text-yellow">1.</span> Понравилась модель, но отсутствует нужный размер, неудобная колодка, не
        подходит подъем, обувь жмет и натирает, пропускает влагу, потеет ступня.</p>

      <p><span class="text-yellow">2.</span> Обувь быстро теряет форму и внешний вид. Образуются заломы на коже,
        отрывается подошва.</p>

      <p><span class="text-yellow">3.</span> Малый ассортимент моделей, узкая/широкая форма носка, неподходящая
        высота каблука. Не тот оттенок цвета или фактуры кожи.</p>

                </div>
                <div class="col-md-4">
                    <img src="https://ae01.alicdn.com/kf/HTB1RTBGLXXXXXbeaXXXq6xXFXXXO/Men-s-boats-woven-leather-summer-shoes-men-s-business-casual-dress-shoes-Fashion-loafers-Peas.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Service Grid Section -->
    <section id="aaaa" class="bg-light-gray" style="padding-top:20px; background-color:#222222;color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color:#fed136">о преимуществах
 индивидуального пошива</h2>
                </div>
            </div>           
            <div class="row">
                <div class="col-md-6 col-sm-12 portfolio-item">
                    <H3>1. Идеальный комфорт</H3>
                    <P>При создании пары, мы учитываем все особенности Вашей стопы. Благодаря этому, обувь идеально «садится на ногу», а вы чувствуете себя комфортно и свободно.</P>
                </div>
                <div class="col-md-6 col-sm-12 portfolio-item">
                    <H3>2. Полезно для здоровья</H3>
                    <P>Удобная обувь, сшитая по индивидуальным меркам, с использованием самых качественных материалов, сохранить здоровье ваших стоп и всего организма</P>
                </div>
                <div class="col-md-6 col-sm-12 portfolio-item">
                    <H3>3. Долговечность</H3>
                    <P>Уверенность в качестве продукта, позволяет нам предоставлять расширенную гарантию 365 дней на все основные узлы обуви.</P>
                </div>
                <div class="col-md-6 col-sm-12 portfolio-item">
                    <H3>4. заказывая у нас</H3>
                    <P>Уверенность в качестве продукта, позволяет нам предоставлять расширенную гарантию 365 дней на все основные узлы обуви.</P>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" style="padding-top:20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Индивидуальный пошив и персональное внимание к каждому клиенту</h2>
                    <h3 class="section-subheading text-muted">Обувь ручной работы от "Jerarro Rshtunni" уникальна тем, что в ней мы реализуем Ваше наиболее смелые идеи. Мы заботимся о наших клиентах. И это видно даже по самым мелким деталям. Используя наши экспертные знания, Мы даем Вам возможность носить действительно уникальную обувь.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">1. Обсуждение с заказчиком</h4>
                    <div class="service-unit-img" style="background-image: url('http://coddex.club/image/creating/1.jpg')"></div>
                    <p class="text-muted">Стилист - консультант и покупатель обсуждают фасон и дизайн будущей пары, вид и цвет материалов. Создается эскиз модели. Вы вместе подбираете материал для верхней части обуви, подкладки и фурнитуры</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">2. Снятие мерок</h4>
                    <div class="service-unit-img" style="background-image: url('https://i.ytimg.com/vi/IebPrpZbxp8/0.jpg')"></div>
                    <p class="text-muted">Стилист - консультант снимает мерки стопы чтобы выделить ее особенности и определить точный размер. В дальнейшем это позволит нам создать обувь повышенной комфортности.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">3. Создание индивидуальной колодки</h4>
                    <div class="service-unit-img" style="background-image: url('http://obuvmira.ru/wp-content/uploads/2014/02/obuv-svoimi-rukami_3.jpg')"></div>
                    <p class="text-muted">По индивидуальным параметрам мастер вручную вытачивает колодку из дерева либо пластика, которая повторяет все особенности стопы заказчика. Тем самым достигается максимальное удобство при носке.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">4. Создание лейкал</h4>
                    <div class="service-unit-img" style="background-image: url('http://lilianishoes.ru/wp-content/uploads/2017/07/%D0%9C%D0%B0%D0%BA%D0%B5%D1%82-%D0%BE%D0%B1%D1%83%D0%B2%D0%B8.png')"></div>
                    <p class="text-muted">С учетом снятых мерок стопы создаются лейкала Вашей будущей пары обуви</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">5. Подготовка деталей</h4>
                    <div class="service-unit-img" style="background-image: url('http://www.whitedress.ru/club/images/users/26/lavorazioni.jpg')"></div>
                    <p class="text-muted">По лейкалам готовятся выкройки верха и подклада, происходит раскрой деталей</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">6. Сборка верха</h4>
                    <div class="service-unit-img" style="background-image: url('http://migliori.ru/media/wysiwyg/production/about_skin.png')"></div>
                    <p class="text-muted">Подготовленные детали сшиваются. Далее происходит сборка верха и внутреннего подклада</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">7. Затяжка на колодку</h4>
                    <div class="service-unit-img" style="background-image: url('http://migliori.ru/media/wysiwyg/production/about_assembly.png')"></div>
                    <p class="text-muted">Верх обуви затягивается на колодку для придания необходимой формы</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">8. Сшивание ранта</h4>
                    <div class="service-unit-img" style="background-image: url('http://modnayaobuvru.ru/wp-content/uploads/2015/03/hand06.jpg')"></div>
                    <p class="text-muted">Прикрепляем верх, основную стельку и рант – происходит процесс с помощью клея или прошивной конструкции Hand Welted</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">9. Установка подошвы</h4>
                    <div class="service-unit-img" style="background-image: url('http://oldleathershoe.com/wordpress/wp-content/uploads/hand-sewn.jpg')"></div>
                    <p class="text-muted">Укладываем наполнитель, ставим супинатор и сшиваем рант со средней стелькой и основной подошвой - это вторая прошивка Goodyear Welted</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">10. Обработка подошвы</h4>
                    <div class="service-unit-img" style="background-image: url('http://www.doucals.com/wp-content/uploads/2015/12/culture_main_26_zoom4.jpg')"></div>
                    <p class="text-muted">Установка наборного каблука. На собранной паре, происходит обрезка и обработка подошвы</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">11. Финишинг</h4>
                    <div class="service-unit-img" style="background-image: url('http://yepman.ru/wp-content/uploads/2015/12/%D0%9F%D0%BE%D0%BB%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0-%D0%BC%D1%8F%D0%B3%D0%BA%D0%BE%D0%B9-%D1%89%D0%B5%D1%82%D0%BA%D0%BE%D0%B9-%D0%BF%D0%BE%D1%81%D0%BB%D0%B5-%D0%BF%D1%80%D0%BE%D0%BF%D0%B8%D1%82%D0%BA%D0%B8-%D0%BA%D1%80%D0%B5%D0%BC%D0%BE%D0%BC-%D0%A1%D0%B0%D0%BF%D1%84%D0%B8%D1%80.jpg')"></div>
                    <p class="text-muted">Готовая пара окрашивается, полируется и подготавливается к выдаче</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Grid Section -->
    <section id="service" class="bg-light-gray" style="padding-top:20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Сервис</h2>
                    <h3 class="section-subheading text-muted">хороший сервис это наша гарантия успеха</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <img src="https://ae01.alicdn.com/kf/HTB1RTBGLXXXXXbeaXXXq6xXFXXXO/Men-s-boats-woven-leather-summer-shoes-men-s-business-casual-dress-shoes-Fashion-loafers-Peas.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-9 col-sm-6 portfolio-item">
                    <H3>Гарантия</H3>
                    <P>Гарантия 365 дней с момета получения обуви. Если в течение 365 дней с момента покупки Вы обнаружили дефект, мы, с Вашего разрешения, возьмем обувь на исправление. После определения дефекта (не распространяется на случаи повреждения в результате износа или неправильного использования) мы исправим обувь. Если это невозможно, то Вы получите новое изделие бесплатно.</P>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-6 portfolio-item">
                    <H3>Оплата</H3>
                    <P>Оплатить покупку можно следующими способами:</P>
                    <li>Оплата 50%  от общей суммы при заказе обуви.Вы можете оплатить наличными или картой.</li>
                    <li>Оплата остальной суммы переводом на банковскую карту. После получения заказа, мы свяжемся с Вами и вышлем реквизиты нашего счета карты Сбербанк</li>
                </div>
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/3b/4f/f3/3b4ff3c6c469bb70ae27115f3d4d7a47.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <img src="https://ae01.alicdn.com/kf/HTB11o4dKVXXXXXGaXXXq6xXFXXX8/GTIME-Fashion-Men-Loafers-Nubuck-Leather-Casual-Shoes-Men-Warm-Fur-Inside-Oxford-Shoes-Comfortable-Driving.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-9 col-sm-6 portfolio-item">
                    <H3>Доставка</H3>
                    <P>Доставка обуви "Jerarro Rshtunnni" осуществляется по всему миру.</P>
                    <ul>
                      <li>Стоимость доставки по Санкт-Петербургу - 500 рублей</li>
                      <li>Стоимость доставки по Ленинградской области - от 500 рублей</li>
                      <li>Стоимость доставки по Москве бесплатно</li>
                      <li>Стоимость доставки по регионам России и СНГ - 1000 рублей. Стоимость доставки может меняться в зависимости от региона.</li>
                      <li>Стоимость доставки в другие страны от 1000 рублей.</li>
                    </ul>  

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Контакты</h2>
                    <h3 class="section-subheading text-muted">для подробной информации свяжитесь с нами</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form  action="/contacts/post/" method="POST">
                       {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <form name="sentMessage" id="contactForm" novalidate>
                                    <div class="row">
                                        <div class="col-md-12 text-center" style="color:white; font-size:20px">
                                          <p><span class="glyphicon glyphicon-map-marker"></span> Москва, Россия</p>
                                          <p><span class="glyphicon glyphicon-phone"></span> +7 (917) 501 81 69</p>
                                          <p><span class="glyphicon glyphicon-envelope"></span> jrshoes@inbox.ru</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="first_name">Контактная имя *</label>
                                    <input name="name" type="text" class="form-control" placeholder="" required>
                                </div>
                                <div class="form-group">
                                    <label for="first_name">электронная почта *</label>
                                    <input name="email" type="email" class="form-control" placeholder="" required>
                                </div>
                                <div class="form-group">
                                    <label for="first_name">Номер телефона</label>
                                    <input name="phone" type="phone" class="form-control" placeholder="" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="first_name">ваш вопрос</label>
                                    <textarea name="massage" class="form-control" placeholder="" ></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-xl">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!--     
    <section id="contact" style="padding-top:20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Контакты</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6" style="color:white">
                              <p>Contact us and we'll get back to you within 24 hours.</p>
                              <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
                              <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                              <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
                            </div>
                            <div class="col-md-6" style="color:black">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
 -->
    <footer style="height:200px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright"></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#"></a>
                        </li>
                        <li><a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}